<template>
  <container>
    <b-row><b-col><div class="spacer"></div></b-col></b-row>
    <b-row align-h="center">
      <b-col cols="6">
        <div class="warningMessage">{{this.message}}</div>
        <b-form @submit="onSubmit" @reset="onReset">
          <b-form-group id="loginInput"
                        label="Login:"
                        label-for="loginInput">
            <b-form-input id="loginInput"
                          type="text"
                          v-model="form.login"
                          required
                          placeholder="Enter votre identifiant">
            </b-form-input>
          </b-form-group>
          <b-form-group v-if="registring"
                        id="emailInput"
                        label="Entrer votre email:"
                        label-for="emailInput"
                        description="Vous receverez vos conseils de week-end à cette adresse">
            <b-form-input id="emailInput"
                          type="email"
                          v-model="form.email"
                          required
                          placeholder="Enter votre email">
            </b-form-input>
          </b-form-group>
          <b-form-group id="passwordInput"
                        label="Mot de passe:"
                        label-for="passwordInput">
            <b-form-input id="passwordInput"
                          type="password"
                          v-model="form.password"
                          required
                          placeholder="Enter votre mot de passe">
            </b-form-input>
          </b-form-group>
          <b-form-group v-if="registring"
                        id="ConfirmPasswordInput"
                        label="Confirmer mot de passe:"
                        label-for="ConfirmPasswordInput">
            <b-form-input id="ConfirmPasswordInput"
                          type="password"
                          v-model.trim="form.confirmPassword"
                          required
                          placeholder="Enter votre mot de passe"
                          :state="checkPassMatch"
                          aria-describedby="mismatchMSG">
            </b-form-input>
            <b-form-invalid-feedback id="mismatchMSG">
              Votre mot de passe et sa confirmation sont différents
            </b-form-invalid-feedback>
          </b-form-group>
          <b-button type="reset" variant="danger">Reset</b-button>
          <b-button v-if="!registring" type="submit" variant="primary">Submit</b-button>
          <b-button v-else @click="onSubmitRegister" variant="primary">Submit</b-button>
        </b-form>
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col>
        <b-button v-if="!registring" class="resetButton" @click="onRegister" variant="danger">Register</b-button>
        <b-button v-else             class="resetButton" @click="onRegister" variant="danger">Retour</b-button>
      </b-col>
    </b-row>
  </container>
</template>

<script>

import FetchService from '@/services/FetchService'

export default {
  name: 'Login',
  data () {
    return {
      message: '',
      registring: false,
      form: {'login': '', 'password': '', 'confirmPassword': '', 'email': ''}
    }
  },
  mounted () {
  },
  modules: [
    'bootstrap-vue/nuxt'
  ],
  computed: {
    activeUser () {
      return this.$store.getters.getActiveUser
    },
    checkPassMatch () {
      if (this.password !== '') {
        return this.form.password === this.form.confirmPassword
      } else {
        return null
      }
    }
  },
  methods: {
    onSubmit: async function () {
      const identity = {'username': this.form.login, 'password': this.form.password}
      const response = await FetchService.loginUser(identity)
      if (response === 'failed') {
        this.message = 'L\'identification à échouée'
      } else {
        this.message = ''
        this.$store.commit('setAuthToken', response.data.token)
        this.$store.commit('setActiveUser', response.data.id)
        this.$store.commit('logingIn')
        this.$store.commit('setActiveTab', 'HelloWorld')
        this.$router.push('/')
      }
    },
    onReset: function () {
      this.message = ''
      this.form.login = ''
      this.form.password = ''
      this.form.confirmPassword = ''
      this.form.email = ''
    },
    onRegister: function () {
      this.registring = !this.registring
    },
    onSubmitRegister: async function () {
      const identity = {'username': this.form.login, 'email': this.form.email, 'password': this.form.password}
      const response = await FetchService.registerUser(identity)
      if (response === 'failed') {
        this.message = 'L\'enregistrement de votre compte à échouée'
      } else {
        this.message = 'Vote inscription à bien été prise en compte'
        this.registring = !this.registring
      }
    }
  }
}
</script>

<style scoped>
.resetButton {
  margin-top: 10px;
}
.spacer
{
  height: 40px;
}
.warningMessage {
 color: maroon;
}
</style>
