<template>
  <container>
    <b-row><b-col>
      <div class="warningMessage">{{this.message}}</div>
      </b-col></b-row>
    <b-row align-h="center">
      <b-col cols="4">
        <container class="container">
          <b-row align-h="center">
            <b-col>
              <div>Ajouter un sport à votre sélection</div>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="8">
              <b-form-select v-model="selectedSportToAdd" :options="toSelectSports" class="mb-3" />
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col>
              <b-button variant="primary" @click="addSport()">Valider Ajout</b-button>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col><div class="spacer"></div></b-col>
          </b-row>
          <b-row align-h="center">
            <b-col>
              <div>Suprimer un sport de votre sélection</div>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="8">
              <b-form-select v-model="selectedSportToRemove" :options="selectedSports" class="mb-3" />
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col>
              <b-button variant="primary" @click="removeSport()">Valider suppression</b-button>
            </b-col>
          </b-row>
        </container>
      </b-col>
      <b-col cols="4">
        <container class="container">
          <b-row>
            <b-col>
              <div>Ajouter un lieu à votre sélection</div>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="8">
              <b-form-select v-model="selectedLocationToAdd" :options="toSelectLocations" class="mb-3" />
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="primary" @click="addLocation()">Valider Ajout</b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col><div class="spacer"></div></b-col>
          </b-row>
          <b-row>
            <b-col>
              <div>Suprimer un lieu de votre sélection</div>
            </b-col>
          </b-row>
          <b-row align-h="center">
            <b-col cols="8">
              <b-form-select v-model="selectedLocationToRemove" :options="selectedLocations" class="mb-3" />
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="primary" @click="removeLocation()">Valider suppression</b-button>
            </b-col>
          </b-row>
        </container>
      </b-col>
    </b-row>
  </container>

</template>

<script>
import FetchService from '@/services/FetchService'

export default {
  name: 'ParamSelect',
  data () {
    return {
      message: '',
      selectedSportToAdd: null,
      selectedSportToRemove: null,
      users: [{ '_id': 0, 'userId': 'Server connection failed' }],
      sports: [
        {'value': null, 'text': 'Selectionner votre sport'},
        {'value': 0, 'text': 'Surf'},
        {'value': 1, 'text': 'Golf'},
        {'value': 2, 'text': 'Tennis'},
        {'value': 3, 'text': 'Foot'},
        {'value': 4, 'text': 'Vélo'},
        {'value': 5, 'text': 'Pétanque'}
      ],
      selectedSports: [
        {'value': null, 'text': 'Déselectionner un sport'},
        {'value': 1, 'text': 'Golf'},
        {'value': 2, 'text': 'Tennis'}
      ],
      selectedLocationToAdd: null,
      selectedLocationToRemove: null,
      locations: [
        {'value': null, 'text': 'Selectionner un lieu'},
        {'value': 0, 'text': 'Paris'},
        {'value': 1, 'text': 'Rennes'},
        {'value': 2, 'text': 'Caen'},
        {'value': 3, 'text': 'Le Mans'},
        {'value': 4, 'text': 'St Malo'},
        {'value': 5, 'text': 'Cherbourg'}
      ],
      selectedLocations: [
        {'value': null, 'text': 'Déselectionner un lieu'},
        {'value': 2, 'text': 'Caen'},
        {'value': 3, 'text': 'Le Mans'},
        {'value': 4, 'text': 'St Malo'}
      ]
    }
  },
  mounted () {
    this.getSports()
    this.getSelectedSports()
    this.getLocations()
    this.getSelectedLocations()
  },
  modules: [
    'bootstrap-vue/nuxt'
  ],
  computed: {
    userId () {
      return this.$store.getters.getActiveUser
    },
    authToken () {
      return this.$store.getters.getAuthToken
    },
    toSelectSports () {
      let toReturn = []
      for (let i = 0; i < this.sports.length; i++) {
        const x = this.sports[i]
        let founded = false
        for (let j = 0; (j < this.selectedSports.length) & (!founded); j++) {
          if (x.text === this.selectedSports[j].text) {
            founded = true
          }
        }
        if (!founded) {
          toReturn.push(x)
        }
      }
      return toReturn
    },
    toSelectLocations () {
      let toReturn = []
      for (let i = 0; i < this.locations.length; i++) {
        const x = this.locations[i]
        let founded = false
        for (let j = 0; (j < this.selectedLocations.length) & (!founded); j++) {
          if (x.text === this.selectedLocations[j].text) {
            founded = true
          }
        }
        if (!founded) {
          toReturn.push(x)
        }
      }
      return toReturn
    }
  },
  watch: {
    userId: function () {
      this.getSports()
      this.getSelectedSports()
      this.getLocations()
      this.getSelectedLocations()
    }
  },
  methods: {
    async getSelectedLocations () {
      const response = await FetchService.fetchSelectedLocations(this.authToken, this.userId)
      if (response === 'failed') {
        this.selectedLocations = [{'value': null, 'text': 'Problème de communication serveur'}]
      } else {
        const responseData = response.data
        let dataToDisplay = [{'value': null, 'text': 'Déselectionner un lieu'}]
        for (let i = 0; i < responseData.length; i++) {
          dataToDisplay.push({'value': responseData[i].id, 'text': responseData[i].name})
        }
        this.selectedLocations = dataToDisplay
      }
    },
    async getLocations () {
      const response = await FetchService.fetchLocations(this.authToken)
      if (response === 'failed') {
        this.selectedLocations = [{'value': null, 'text': 'Problème de communication serveur'}]
      } else {
        const responseData = response.data
        let dataToDisplay = [{'value': null, 'text': 'Selectionner un lieu'}]
        for (let i = 0; i < responseData.length; i++) {
          dataToDisplay.push({'value': responseData[i].id, 'text': responseData[i].name})
        }
        this.locations = dataToDisplay
      }
    },
    async getSelectedSports () {
      const response = await FetchService.fetchSelectedSports(this.authToken, this.userId)
      if (response === 'failed') {
        this.selectedLocations = [{'value': null, 'text': 'Problème de communication serveur'}]
      } else {
        const responseData = response.data
        let dataToDisplay = [{'value': null, 'text': 'Déselectionner un sport'}]
        for (let i = 0; i < responseData.length; i++) {
          dataToDisplay.push({'value': responseData[i].id, 'text': responseData[i].label})
        }
        this.selectedSports = dataToDisplay
      }
    },

    async getSports () {
      const response = await FetchService.fetchSports(this.authToken)
      if (response === 'failed') {
        this.selectedLocations = [{'value': null, 'text': 'Problème de communication serveur'}]
      } else {
        const responseData = response.data
        let dataToDisplay = [{'value': null, 'text': 'Selectionner votre sport'}]
        for (let i = 0; i < responseData.length; i++) {
          dataToDisplay.push({'value': responseData[i].id, 'text': responseData[i].label})
        }
        this.sports = dataToDisplay
      }
    },
    addSport: async function () {
      if (this.selectedSportToAdd != null) {
        const response = await FetchService.addSportToUserList(this.authToken, this.userId, this.selectedSportToAdd)
        if (response === 'failed') {
          this.message = 'La communication auprès du serveur à échouée'
        } else {
          const selected = this.sports.filter(x => x.value === this.selectedSportToAdd)
          this.selectedSports.push(selected[0])
        }
        this.selectedSportToAdd = null
      }
    },
    removeSport: async function () {
      if (this.selectedSportToRemove != null) {
        const response = await FetchService.removeSportToUserList(this.authToken, this.userId, this.selectedSportToRemove)
        if (response === 'failed') {
          this.message = 'La communication auprès du serveur à échouée'
        } else {
          this.selectedSports = this.selectedSports.filter(x => x.value !== this.selectedSportToRemove)
        }
      }
      this.selectedSportToRemove = null
    },
    addLocation: async function () {
      if (this.selectedLocationToAdd != null) {
        const response = await FetchService.addLocationToUserList(this.authToken, this.userId, this.selectedLocationToAdd)
        if (response === 'failed') {
          this.message = 'La communication auprès du serveur à échouée'
        } else {
          const selected = this.locations.filter(x => x.value === this.selectedLocationToAdd)
          this.selectedLocations.push(selected[0])
        }
        this.selectedLocationToAdd = null
      }
    },
    removeLocation: async function () {
      if (this.selectedLocationToRemove != null) {
        const response = await FetchService.removeLocationToUserList(this.authToken, this.userId, this.selectedLocationToRemove)
        if (response === 'failed') {
          this.message = 'La communication auprès du serveur à échouée'
        } else {
          this.selectedLocations = this.selectedLocations.filter(x => x.value !== this.selectedLocationToRemove)
        }
      }
      this.selectedLocationToRemove = null
    }
  }
}
</script>

<style scoped>
.spacer
{
  height: 40px;
}
.container{
  position: center;
  display: block;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background-color: #a2adfa;
  color: #2c3e50;
  font-size: 14px;
  font-weight: 900;
  border-radius: .5em;
}
.txt-right{
  display: block;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background-color: #194bfa;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  margin-left: 0;
}
.warningMessage {
  color: maroon;
}
</style>
<style lang="scss" scoped>
  .act{
    margin-top: 10px;
    &__item{
      margin: 0;
      padding: 0;
    }
    &--txt{
      position: relative;
      display: block;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      background-color: #194bfa;
      color: #fff;
      font-size: 14px;
      font-weight: 200;
      &--left{
        border-bottom-left-radius: .5em;
        border-top-left-radius: .5em;
      }
      &--right{
        border-bottom-right-radius: .5em;
        border-top-right-radius: .5em;
      }
    }
  }
</style>
