<template>
  <header class="header">
    <div class="header__sticky">
      <div class="header__content">
              <router-link to="/" >
                <img src="@/assets/cerf-volant.png" height="45px" @click="changeActiveTab('HelloWorld')">
              </router-link>
              <router-link to="/" >
                <txt class="txt" @click="changeActiveTab('HelloWorld')"> Week end planner</txt>
              </router-link>
      </div>
      <div class="header__nav">
        <router-link v-if="!isLogged" to="/Login" >
          <txt class="login" @click="changeActiveTab('Login')">Login</txt>
        </router-link>
        <router-link v-else to="/" >
        <txt class="logout" @click="logingOut()">Logout</txt>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
    }
  },
  modules: [
    'bootstrap-vue/nuxt', { css: false }
  ],
  computed: {
    isLogged () {
      return this.$store.getters.isLoggedIn
    }
  },
  methods: {
    changeActiveTab: function (param) {
      this.$store.commit('setActiveTab', param)
    },
    logingOut: function () {
      this.$store.commit('logingOut')
    }
  }
}
</script>
<style type="text/css">
a:link
{
text-decoration:none;
}
</style>
<style lang="scss" scoped>
  .txt {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
  }
  .login {
    color: #241d6d;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    background: #77d954;
    border-radius: .5em;
  }
  .logout {
    color: #241d6d;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    background: #d93d3b;
    border-radius: .5em;
  }
  .pointer {
    cursor: pointer;
  }
  .header {
    height: 60px;
    &__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      display: table;
      margin: 0;
      height: 60px;
      background: #194bfa;
      text-align: center;
      color: #fff;
      width: 100%;
    }
    &__content {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    &__brand {
      width: auto;
      height: 50px;
    }
    &__nav {
      color: #fff;
      display: table-cell;
      vertical-align: middle;
      &:first-child {
        text-align: left;
        padding-left: 15px;
        width: 50px;
      }
      &:last-child {
        text-align: right;
        padding-right: 15px;
        width: 50px;
      }
    }
    &__hamburger {
      background: none;
      border: none;
      padding: 0;
      outline: none;
      color: #fff;
      font-size: 30px;
    }
    &__search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
</style>
